---
title: "Global Component Macro"
---

{%- extends "layouts/page.njk" -%}

{%- block content -%}

  {{ component('button', {
    primary: 'Hello'
  }) }}

  {{ component('button', {
    primary: 'Hello',
    secondary: 'World'
  }) }}

  <a href="https://github.com/trys/11ty-component-macro">Repo</a>

{%- endblock -%}
